process {
  executor='SLURM'
  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

  withLabel: env_bed_small{
    cpus = 4
    memory = 8.GB
    time = 4.h
    module = ["bedtools/2.27.1-foss-2018b"]
  }

  withLabel: env_qc_small{
    cpus = 1
    memory = 1.GB
    time = 1.h
    module = ["fastqc/0.11.8-java-1.8", "fastx-toolkit/0.0.14-gcccore-7.3.0"]
  }

  withLabel: env_align_medium{
    cpus = 4
    memory = 4.GB
    time = 4.h
    module = ["bowtie2/2.3.4.2-foss-2018b"]
  }

  withLabel: env_sam_medium{
    cpus = 4
    memory = 4.GB
    time = 4.h
    module = ["samtools/1.9-foss-2018b"]
  }


}
